<div>
    <h1>Bienvenidos al Chat</h1>

<div>
    <input type="text" placeholder="Escriba su mensaje..." id="chatBox">
</div>
<section id="contenedorMensajes">
    {{!-- Se llena con js --}}
</section>
</div>
    <script src="/js/chat.js"></script>